@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700&family=Syncopate:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
}

body {
    background: #f0f2f5;
    color: #5f5f5f;
}

a {
    text-decoration: none;
    color: #5f5f5f;
}

/* Header */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    z-index: 100;
}

.nav-logo img {
    width: 40px;
}

.nav-center li {
    display: inline-block;
    list-style: none;
}

.nav-center ul li a {
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 6px 10px;
    position: relative;
}

.nav-center ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -10px;
    transition: width .3s;
}

.nav-center li a:hover::after ,
.nav-center li a.active-link::after {
    width: 100%;
}

.nav-center li a img {
    width: 25px;
}

.nav-profile {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #41db51;
    right: 0;
    top: 0;
    border: 2px solid #fff;
}

.search-box {
    width: 250px;
    border-radius: 20px;
    background: #f0f2f5;
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.search-box img {
    width: 15px;
}

.search-box input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 8px;
}

.nav-left {
    display: flex;
    align-self: center;
}

/* Container */

.container {
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
}

.con-right {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.con-left {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.con-center {
    flex-basis: 47%;
}

/* Left Side */

.sidebar-profile-box {
    background: #fff;
}

.sidebar-profile-box img {
    width: 100%;
}

.sidebar-profile-info {
    padding: 0 25px;
}

.sidebar-profile-info img {
    width: 90px;
    border-radius: 50%;
    margin-top: -45px;
    padding: 4px;
    background: #fff;
}

.sidebar-profile-info h1 {
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.sidebar-profile-info h3 {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul {
    margin: 20px 0;
}

.sidebar-profile-info ul li {
    list-style: none;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
    color: #888;
}

.sidebar-profile-info ul li span {
    float: right;
    color: #045be6;
}

.sidebar-profile-links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.sidebar-profile-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 15px 0;
    flex-basis: 50%;
    border-left: 1px solid #ccc;
    
}

.sidebar-profile-links a:first-child {
    border-left: none;
}

.sidebar-profile-links img {
    width: 20px;
    margin-right: 8px;
}

.sidebar-activity {
    background: #fff;
    padding: 8px 20px;
    margin: 15px 0;
}

.sidebar-activity h3 {
    font-weight: 500;
    color: #777;
    font-size: 14px;
    margin: 20px 0 10px;
}

.sidebar-activity a {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888;
    margin: 3px 0;
    font-weight: 400;
}

.sidebar-activity a img {
    width: 22px;
    margin-right: 10px;
}

.sidebar-discover {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
}

.sidebar-discover a {
    color: #045be6;
    padding: 10px 0;
    display: inline-block;
}


/* Right Side */

.sidebar-news {
    background: #fff;
    padding: 10px 25px;
}

.more-icon {
    width: 14px;
    float: right;
    margin: 10px 12px;
}

.sidebar-news h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 30px;
    color: #333;
}

.sidebar-news a {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #5f5f5f;
}

.sidebar-news span {
    font-size: 12px;
    color: #888;
}

.sidebar-news .read-more {
    color: #045be6;
    margin: 20px 0 10px;
    font-weight: 500;
}

.sidebar-ad {
    background: #fff;
    margin: 15px 0;
    padding: 15px 25px;
    text-align: center;
}

.sidebar-ad p {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.sidebar-ad small {
    float: right;
    font-weight: 500;
}

.sidebar-ad b {
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
}

.sidebar-ad .ad-link {
    font-size: 12px;
    color: #045be6;
    border: 1px solid #045be6;
    padding: 6px 15px;
    border-radius: 15px;
    margin: 20px auto 10px;
}

.sidebar-ad-img {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.sidebar-ad-img img {
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.sidebar-useful-links {
    text-align: center;
    padding: 10px 20px;
}

.sidebar-useful-links li{
    display: inline-block;
    margin: 0 5px;
    list-style: none;
}

.sidebar-useful-links li a {
    font-size: 14px;
    line-height: 30px;
    color: #888;
}

.sidebar-useful-copyright {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    margin-top: 10px;
}

.sidebar-useful-copyright img {
    width: 20px;
    margin-right: 3px;
}

/* Center */

.create-post {
    background: #fff;
}

.create-post-input {
    display: flex;
    justify-content: flex-start;
    padding: 20px 25px 10px;
}

.create-post-input img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.create-post-input textarea {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    resize: none;
}

::placeholder {
    font-weight: 500;
}

.create-post-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 13px;
}

.create-post-links li {
    flex-basis: 25%;
    list-style: none;
    display: flex;
    font-size: 13px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-post-links li img {
    width: 15px;
    margin-right: 3px;
}

.create-post-links li:last-child {
    background: #045be6;
    color: #fff;
    border-right: 0;
    border-top: 0;
}

.sort-by {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.sort-by hr {
    height: 1px;
    background: #ccc;
    flex: 1;
    border: 0;
}

.sort-by p {
    font-size: 13px;
    padding-left: 5px;
}

.sort-by p span {
    font-weight: 600;
    cursor: pointer;
}

.sort-by p span img {
    width: 12px;
    margin-left: 3px;
}

.post {
    background: #fff;
    padding: 25px 20px 5px;
    margin: 5px 0 15px;
}

.post-author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 2px;
}

.post-author-info h1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
}

.post-author-info p {
    color: #888;
    font-size: 12px;
    margin-bottom: -2px;
    display: block;
}

.post .post-des {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.post-stats {
    margin: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    flex-wrap: wrap;
    font-size: 12px;
}

.post-stats div {
    display: flex;
    align-items: center;
}

.post-stats img {
    width: 15px;
    margin-right: -5px;
}

.liked-users {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #777;
}

.post-stats-comm span {
    font-size: 13px;
    font-weight: 400;
    color: #777;
}

.post-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-icons img{
    width: 25px;
    border-radius: 50%;
    margin-right: 3px;
}

.post-icons a img {
    width: 15px;
}

.post-icons-pro {
    display: flex;
    align-items: center;
}

.post-icons-img {
    display: flex;
    align-items: center;
}

.post-icons-img img {
    width: 18px;
    margin-right: 5px;
}

/* Menu Wrap */

.profile-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.profile-menu-wrap.open-menu {
    max-height: 400px;
}

.profile-menu {
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h3 {
    font-weight: 500;
    margin-bottom: -4px;
}

.user-info a {
    color: #c9dbf8;
    font-size: 13px;
}

.profile-menu hr {
    width: 100%;
    height: 1px;
    background: #fff;
    border: 0;
    margin: 15px 0 10px;
}

.profile-menu-feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.profile-menu-feedback img {
    width: 30px;
    margin-right: 15px;
}

.profile-menu-feedback p {
    color: #fff;
    font-size: 14px;
    flex: 1;
}

.profile-menu-feedback span {
    color: #fff;
}

/* --------- Container2 ---------- */
.container {
    display: flex;
    justify-content: space-between;
}

.main-side {
    flex-basis: 72%;
}

.sidebar-side {
    flex-basis: 25%;
    align-self: flex-start;
}

/* Main Side */

.main-side-profile {
    background: #fff;
}

.user-info-des {
    padding: 0 40px 20px;
    
}

.user-info-des .big-pro {
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
    background: #fff;
    padding: 3px;
    margin-bottom: 3px;
}

.user-info-des h2 {
    font-weight: 500;
    color: #222;
}

.user-info-des p {
    font-size: 14px;
    margin-bottom: 15px;
}

.user-info-des p a {
    color: #045be6;
}

.user-info-des .small-pro {
    width: 20px;
    border-radius: 50%;
    margin-right: 3px;
}

.user-info-des .user-connect {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.profile-btn {
    display: flex;
    align-items: center;
}

.profile-btn a {
    display: flex;
    align-items: center;
    background: #e4e6eb;
    padding: 4px 14px;
    border-radius: 4px;
    margin-right: 10px;
}

.profile-btn a img {
    width: 18px;
    margin-right: 5px;
}


.profile-btn .primary-btn {
    background: #045be6;
    color: #fff;
}

/* About */

.main-about {
    margin: 15px 0;
    background: #fff;
    padding: 40px;
}

.main-about h3 {
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-about a {
    float: right;
    display: block;
    font-size: 15px;
}

/* Experience */

.main-experience {
    margin: 15px 0;
    background: #fff;
    padding: 40px;
}

.main-experience h3 {
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-row img {
    width: 50px;
    margin-right: 20px;
    margin-top: 5px;
}

.experience-row {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

.experience-row-info h4 {
    font-weight: 600;
    color: #222;
}

.experience-row-info p {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.experience-row-info .border {
    margin-top: 20px;
    color: #888;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.show-exp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.show-exp img {
    width: 18px;
    margin-left: 8px;
}

/* Education */

.main-education {
    margin: 15px 0;
    background: #fff;
    padding: 40px;
}

.main-education  h3 {
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
}

.education-row {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
}

.education-row img {
    width: 50px;
    margin-right: 20px;
    margin-top: 5px;
}

.education-row-info {
    width: 100%;
}

.education-row-info hr {
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 15px;
}

.education-row-info b {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.education-row-info h4 {
    font-weight: 600;
    color: #222;
}

/* Skills */

.main-skills {
    margin: 15px 0;
    background: #fff;
    padding: 40px;
}

.main-skills h3 {
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
}

.skill-btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
}

/* Languages */

.main-languages {
    margin: 15px 0;
    background: #fff;
    padding: 40px;
}

.main-languages h3 {
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
}

.language-btn {
    display: inline-block;
    padding: 6px 18px;
    margin: 10px 5px;
    background: #e4e6eb;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
}

/* ----------- Side Bar ----------- */

.sidebar-side .sidebar-ad {
    margin: 0;
}

.sidebar-people {
    margin: 15px 0;
    background: #fff;
    padding: 20px;
}

.sidebar-people h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.people-row {
    display: flex;
    align-items: flex-start;
}

.people-row img {
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 3px;
}

.people-row h2 {
    font-weight: 500;
    font-size: 18px;
    color: #666;
}

.people-row p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.connect-btn {
    display: inline-block;
    font-size: 12px;
    padding: 5px 30px;
    border: 1px solid #888;
    border-radius: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* -------- Responsive ---------- */

@media only screen and (max-width: 800px) {
    .search-box {
        background: transparent;
        width: auto;
        padding: 0;
    }
    .search-box input {
        width: 0;
        padding: 0;
    }
    .nav-center ul li a span {
        display: none;
    }
    .nav-center ul li a {
        padding-right: 0;
        margin: 5px;
    }
    .nav-profile {
        width: 30px;
    }
    .container {
        padding: 20px 3%;
        flex-wrap: wrap;
    }
    .con-left , .con-right {
        flex-basis: 100%;
        position: relative;
        top: unset;

    }
    .con-center , .main-side , .sidebar-side {
        flex-basis: 100%;
    }
}